<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-image: radial-gradient(silver, black);
            background-size: fixed;
            background-repeat: no-repeat;
            overflow: hidden;
        }
        
        h1 {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
        
        img {
            width: 100%;
        }
        
        a {
            font-size: 50px;
            color: white;
            text-decoration: none;
        }
        
        a:hover {
            font-size: 50px;
            color: silver;
            text-decoration: none;
        }
        
        .info {
            font-size: 14px;
            color: white;
            text-decoration: none;
        }
        
        .info:hover {
            font-size: 14px;
            color: silver;
            text-decoration: none;
        }
        
        span {
            font-size: 14px;
            color: silver;
        }
        
        .prod {
            width: 49.5%;
            height: 30%;
            padding-top: 10%;
            padding-bottom: 10%;
            text-align: center;
        }
        
        .user {
            width: 100%;
            padding-top: 10%;
            position: absolute;
            top: 50%;
            left: 0;
            text-align: center;
        }
        
        .prod1 {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .prod2 {
            position: absolute;
            top: 0;
            left: 50%;
        }
        
        .size {
            padding-top: 1000%;
            background-image: radial-gradient(silver, black);
            background-size: fixed;
            background-repeat: no-repeat;
        }
    </style>
</head>

<body>
    <div class="size"><label>...</label></div>
    <h1><img src="/icons/cimarron_logo.png" alt="logo"></h1>
    <div class="prod prod1">
        <a href="/log">Ir a mi canal</a>
    </div>
    <div class="prod prod2">
        <a href="/reg">Crear nuevo canal</a>
    </div>
    <div class="user">
        <a href="/view">Ver Tv</a><br><br><br>
        <span>Desarrollado por Gua'Kia IT </span>&nbsp;&nbsp;
        <span>Version 1.0.0 </span>&nbsp;&nbsp;
        <span>&copy Gua'Kia IT </span>&nbsp;&nbsp;
        <a class="info" href="/politicas">Politicas de la aplicaci&oacute;n</a>
    </div>
</body>

</html>