<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body {
            background-image: radial-gradient(silver, black);
            background-size: fixed;
            background-repeat: no-repeat;
            overflow-x: hidden;
        }
        
        li {
            font-size: 20px;
            color: silver;
        }
        
        h1 {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            color: silver;
        }
        
        h3 {
            color: silver;
        }
        
        img {
            width: 100%;
        }
        
        a {
            font-size: 50px;
            color: white;
            text-decoration: none;
            margin-bottom: 50%;
        }
        
        a:hover {
            font-size: 50px;
            color: silver;
            text-decoration: none;
        }
        
        .info {
            font-size: 14px;
            color: white;
            text-decoration: none;
        }
        
        .info:hover {
            font-size: 14px;
            color: silver;
            text-decoration: none;
        }
        
        span {
            font-size: 14px;
            color: silver;
        }
        
        .prod {
            width: 49.5%;
            height: 30%;
            padding-top: 10%;
            padding-bottom: 10%;
            text-align: center;
        }
        
        .user {
            width: 100%;
            padding-top: 10%;
            position: absolute;
            top: 50%;
            left: 0;
            text-align: center;
        }
        
        .prod1 {
            position: absolute;
            top: 0;
            left: 0;
        }
        
        .prod2 {
            position: absolute;
            top: 0;
            left: 50%;
        }
        
        ol {
            margin-bottom: 5%;
        }
        
        .size {
            padding-top: 0;
            background-image: radial-gradient(silver, black);
            background-size: fixed;
            background-repeat: no-repeat;
        }
        
        #fin {
            margin-bottom: 5%;
        }
    </style>
</head>

<body>
    <div class="size"><label>...</label></div>
    <h1>Politicas</h1><br>
    <h3>Contenido</h3>
    <ol>
        <li>No existe restricciones de vocabulario tipo de contenido de no ser del agrado de alguien solo debe no patrocinar dicho canal no sera censurado mientras no incurra en actos delictivos o ilegales.</li>
        <li>Cada canal se hace responsable de sus contenidos y expresiones ni la aplicaci&oacute;n Cimarr&oacute;n ni Gua'Kia IT no se hara responsable del contenido ni expresiones de los canales.</li>
        <li>No se tolerara actos ilegales en la plataforma de incurrir en actos ilegales se podran tomar medidas legales.</li>
    </ol>
    </div>
    <h3>Script</h3>
    <ol>
        <li>Podra usar cualquier codigo siempre y cuando no sea da&ntilde;ino para los usuarios o el sistema.</li>
        <li>De utilizar un codigo da&ntilde;ino el cual entendamos fue mal intencionado su canal sera eliminado.</li>
        <li>Si el codigo roba informaci&oacute;n sera eliminado el canal, bloqueado dicho codigo y se podran tomar medidas legales.</li>
    </ol>
    <h3>Cobros</h3>
    <ol>
        <li>Los canales pueden cobrar por su cotenido (pay per view) mediante sistemas legitimos.</li>
        <li>Debe cumplir con todo aquel cotenido por el que cobre de otro modo ser&aacute; considerado fraude y se procedera legalmente.</li>
        <li>Si por alguna razon no pueden cumplir con dicho contenido debera informarlo a los usuario,disculparse y devolver el dinero.</li>
    </ol>
    <a class="info" href="/">Inicio</a>
    <div id="fin"></div>
    </div>
</body>

</html>